body {
    background-color: #0d0221;
    color: #00feff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container {
    background: #0f0c29;
    padding: 2rem;
    border: 3px solid #00feff;
    border-radius: 15px;
    box-shadow: 0 0 20px #00feff;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

#status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#difficulty-badge {
    background: #ff0055;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-option {
    background: transparent;
    border: 2px solid #00feff;
    color: #00feff;
    padding: 15px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-option:hover {
    background: #00feff;
    color: #0d0221;
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-difficulty {
    background: transparent;
    border: 2px solid #00feff;
    color: #00feff;
    padding: 14px 18px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.btn-difficulty:hover {
    background: #00feff;
    color: #0d0221;
    transform: scale(1.03);
    box-shadow: 0 0 15px #00feff;
}

.btn-todas { border-color: #ff0055; color: #ff0055; }
.btn-todas:hover { background: #ff0055; color: white; box-shadow: 0 0 15px #ff0055; }

/* PANTALLA GAME OVER */
#game-over-screen {
    background-color: rgba(15, 10, 10, 0.95);
    border: 4px solid #ff003c;
    box-shadow: 0 0 20px #ff003c;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
}

#game-over-screen h2 {
    color: #ff003c;
    text-shadow: 0 0 15px #ff003c;
    font-size: 2.5rem;
}

.btn-retry {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* --- ESTILOS PARA EL LOGO Retro --- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px; /* Separa la cabecera del menú de opciones */
}

.logo-img {
    max-width: 160px; /* Tamaño ideal para que calce perfecto en el contenedor */
    height: auto;
    margin-bottom: 10px; /* Despega el logo del texto "Press Start Quiz" */
    
    /* Mantiene los píxeles súper nítidos y evita que se vea borroso */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
